body, #app {
    background-color: #020202;
    height: 100vh;
}

#app {
    display: grid;
    grid-template-rows: 60fr 35fr 5fr;
}

canvas {
    width: 100%;
    height: 100%;
}

#render {
    width: 100%;
    height: 35vh;
}

#name {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "ROND" 29;
    margin: 0 10vw;
    font-size: xx-large;
    display: flex;
    justify-content: left;
    height: 15vh;
}

main, footer {
    margin: 0 10vw;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

main {
    padding-top: 5vh;
    /*height: 40%;*/
}

h1, p, h3 {
    color: azure;
}

h3 {
    font-size: large;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline dodgerblue;
}

#email {
    display: flex;
    align-items: center;
}

#email::after {
    content: url("../public/copy.svg");
    display: block;
    fill: azure;
    height: 1rem;
    width: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-left: 0.5em;
}

#email:active::after {
    opacity: 1;
    transition: opacity 0.01s ease-out;
}

li {
    margin-bottom: 0.3em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-bottom: 2vh;
}

#social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    padding: 0;
}

#social {
    color: #6fb8ff;
    list-style: none;
}

@media (max-width: 650px) {

    #social {
        flex-direction: column;
    }

    #social > li {
        margin-top: 0.5em;
    }
    
}