body {
    background-color: #020202;
}

canvas {
    width: 100%;
    height: 100%;
}


#name {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "ROND" 29;
    margin: 0 10vw;
    font-size: xx-large;
    display: flex;
    justify-content: left;
}

header {
    margin-bottom: 5vw;
}

main {
    margin: 0 10vw;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

h1, p, h3 {
    color: azure;
}

h3 {
    font-size: large;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline dodgerblue;
}

#email {
    display: flex;
    align-items: center;
}

#email::after {
    content: url("copy.svg");
    display: block;
    fill: azure;
    height: 1rem;
    width: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-left: 0.5em;
}

#email:active::after {
    opacity: 1;
    transition: opacity 0.01s ease-out;
}

li {
    margin-bottom: 0.3em;
}

#render {
    width: 100%;
    height: 30vw;
}